@import "just-the-docs";

nav#site-nav.site-nav footer.site-footer {
  display: none !important;
}

nav#site-nav.site-nav footer.site-footer a[href*="just-the-docs"] {
  display: none !important;
}

.site-nav footer.site-footer * {
  display: none !important;
}
